@font-face {
  font-family: "icomoon";
  src: url("..//fonts/icomoon.eot?trq17h");
  src: url("..//fonts/icomoon.eot?trq17h#iefix") format("embedded-opentype"),
    url("..//fonts/icomoon.ttf?trq17h") format("truetype"),
    url("..//fonts/icomoon.woff?trq17h") format("woff"),
    url("..//fonts/icomoon.svg?trq17h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
h1,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 110%;
  font-weight: normal;
  letter-spacing: -0.25px;
  color: white;
  margin: 0;
}
h1 strong {
  color: #c8b020;
}
h2 {
  color: #c8b020;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 750;
  font-size: 24px;
  margin-bottom: 40px;
}

.header {
  background-color: #24292b;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.menu {
  height: inherit;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  display: flex;
  height: inherit;
}
.hero {
  height: 300px;
  background-color: #24292b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-image {
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  max-width: 300px;
}
figure {
  margin: 0;
}
.nombre {
  display: inline-flex;
  font-weight: bolder;
  font-size: 30px;
}
.portfolio {
  background: #fafafa;
  padding: 20px;
}
.project {
  box-shadow: 1px 5px 12px 2px #888;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.project-electronics,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-descripton {
  font-size: 20px;
}
.project strong {
  font-family: "Roboto", sans-serif;
}
.project-details {
  width: 450px;
}
.project-cointener {
  width: auto;
}
.project-imageContainer {
  width: 500px;
}
.project-image {
  border-radius: 10px;
}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.event {
  border-radius: 10px;
  box-shadow: 1px 5px 12px 2px #888;
  margin: 1%;
  width: 48%;
  overflow: hidden;
  flex-shrink: 0;
  background: #e9e9e9;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}
.event img {
  width: 480px;
  height: 300px;
  object-fit: cover;
}
.event-detail {
  margin: 20px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  width: 400px;
  text-align: left;
}
.event-url {
  border: 1px solid #056fff;
}

.contact {
  background-color: #24292b;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 25px;
  background-image: url(../images/correo.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button {
  display: block;
  margin-top: 5px;
  background: transparent;
  color: white;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100px;
}
.form-email h3 {
  font-family: "Roboto", sans-serif;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}
.social-link.twitter {
  background-image: url(../images/twitter.svg);
}
.social-link.github {
  background-image: url(../images/imagen-de-github.svg);
}
.social-link.linkedin {
  background-image: url(../images/linkedin.svg);
}

.footer {
  background: #24292b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 10px;
  top: 6px;
  color: white;
}

/* Desktop first media queries */
@media screen and (max-width: 1023px) {
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    border-radius: initial;
    max-width: initial;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
    text-shadow: 1px 2px 2px #000;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    filter: opacity(80%) blur(1px);
  }
  .project-imageContainer {
    align-items: center;
  }
  .portfolio {
    padding: 0px;
  }
  .event-list-title {
    margin-left: 0;
  }
  figure {
    padding: 10px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    display: block;
    height: auto;
  }
  h1 {
    text-shadow: 1px 2px 2px #000;
  }
  h2 {
    font-size: 1em;
    margin: 0.5em 0;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
    justify-content: center;
  }
  .header .logo {
    text-align: center;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
  .menu {
    position: fixed;
    background: rgba(156, 145, 46, 0.8);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .menu.is-active {
    left: 0;
  }
  .project {
    display: block;
  }
  .project-imageContainer {
    width: 100%;
    text-align: center;
  }

  .project-details {
    width: auto;
    font-size: 16px;
  }
  .project-imageContainer img {
    max-width: 100%;
  }
  .project-image {
    /* height: auto; */
    object-fit: cover;
  }
  .project-title {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-url {
    font-size: 1em;
  }
  .project-descripton {
    font-size: 1em;
  }
  .project-electronics {
    font-size: 0.7em;
  }
  .project-title,
  .project-electronics,
  .project-date,
  .project-description,
  .project-url {
    margin: 0.3em 0;
  }
  .event {
    width: auto;
    flex-shrink: 1;
  }
  .event-description {
    width: auto;
    text-align: center;
  }
  .event img {
    width: 100%;
  }
  .hero-image {
    filter: opacity(80%) blur(1px);
  }
  .burger-button {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .project-details {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
    text-shadow: 1px 2px 2px #000;
  }
  .event-details {
    margin: -2em, 0.5em 0.5em;
    padding: 1em;
  }
  .contact {
    display: block;
    height: auto;
    padding: 1.5em 0;
    text-align: center;
  }
  .form-email button {
    margin: 1em auto;
  }
  .form-email h3 {
    margin-top: 0;
  }
  .hero-image {
    filter: opacity(80%) blur(1px);
  }

  /* .project-image {
    height: inherit;
    object-fit: cover;
  } */
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.3em;
    text-shadow: 1px 2px 2px #000;
  }
  .hero {
    padding: 1em 1em;
  }
  .hero-image {
    filter: opacity(80%) blur(1px);
  }
  .project-image {
    height: 250px;
    object-fit: cover;
  }
}
